<br><br>
<div align="center"> 
    <div><h1>Editing Recipe</h1></div><br>

    <%= render 'form', recipe: @recipe %>

    <%= link_to 'Show', @recipe %> |
    <%= link_to 'Back', recipes_path %>
</div>