<br><br>
<div align="center">    
    <div class="panel-heading"><h1>New Recipe</h1></div><br>

    <div>
        <%= render 'form', recipe: @recipe %>
    </div><br>
    <div class="btn bg-dark">
        <%= link_to 'Back', recipes_path %>
    </div><br>
</div>
