<br><br>
<div align="center">    
    <div><h1>New Recipe</h1></div><br>

    <div>
        <%= render 'form', recipe: @recipe %>
    </div>
    <div>
        <%= link_to 'Back', recipes_path %>
    </div>
</div>
