<h3>Find a Recipe!</h3>
<br>

<div class="search">
  <%= form_tag recipes_path, :method => 'get' do %>
     <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
     </p>
 <% end %>
</div><br><br>