<% flash.each do |name, msg| %>
	<div class="alert alert-warning alert-dismissible fade out">
		<button class="close" data-dismiss="alert" aria-alert="close">
			<i class="glyphicon glyphicon-remove-circle"></i>
		</button>
		<%= content_tag(:div, msg) %>
	</div>
<% end %>