<!--Culinarian Image and Logan -->
<div class="container">
    <%= image_tag('logo.png', class: "img-fluid") %>
</div>
<br>
<br>

<!--App Purpose  -->
<div class="panel panel-default">    
    <div class="panel-heading"><h3>"Start simple, stay simple."</h3></div>
    <div class="panel-body">
        <p>Culinarian was created and designed by two students of the Highway educational course of I/O Avenue in Tallahassee, Florida with the original mindset of providing a place on the web where older cooking recipes can be preserved in a digital form and shared for generations to come.  As we continue to work on this project, there are plenty of ideas out there that could be brought into it, however we also intend to stick to our philosophy of "smart simple, stay simple" to ensure that Culinarian will always provide ease of use first and foremost.</p>
        <br /><p>Our goal in the long run is to further advance the aid that technology can bring to the kitchen through a simpler and more personable approach.</p>
    </div>
</div>

<!-- About Us -->
<div class="panel panel-default">
    <div class="panel-heading"><h3>Meet the Developers</h3><br></div>
    <div class="panel-body">
        <table class="about" align="center">
        <tr>
            <td><h4><u>Steven Firestone</u></h4></td>
            <td></td>
            <td><h4><u>June Logan</u></h4></td>
        </tr>
        <tr>
            <td>*image goes here*</td>
            <td></td>
            <td>*image goes here*</td>
        </tr>
        <tr class="blurb">
            <td>Graduate of both the On-Ramp and Highway programs<br> 
                of I/O Avenue in addition to being a proud student<br>
                in the many fields of anthropology.</td>
            <td></td>
            <td>*blurb text here*</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><a class="btn btn-default" href="https://www.linkedin.com/in/steven-firestone/">LinkedIn</a> |    
            <a class="btn btn-default" href="https://github.com/sa-firestone">GitHub</a></td>
            <td></td>
            <td>*LinkedIn* |    
            <a class="btn btn-default" href="https://github.com/junelogan">GitHub</a></td>
        </tr>
    </table>
    </div>
</div>
