<!--Culinarian Image and Logan -->
<div class="container">
    <%= image_tag('mainimage.png', class: "img-fluid") %>
</div>
<br>
<br>

<!--App Purpose  -->
<div class="container">    
    <h3> Our Purpose </h3><br>
    <p>Something      </p>
</div>

<br>
<br>
<!-- About Us -->
<div class="container">
<h3> Meet the Developers </h3><br>
<table class="about" align="center">
    <tr>
        <td><h4>Steven Firestone</h4></td>
        <td></td>
        <td><h4>June Logan</h4></td>
    </tr>
    <tr>
        <td>*image goes here*</td>
        <td></td>
        <td>*image goes here*</td>
    </tr>
    <tr>
        <td>*blurb text here*</td>
        <td></td>
        <td>*blurb text here*</td>
    </tr>
    <tr>
        <td><a href="https://www.linkedin.com/in/steven-firestone/">LinkedIn</a></td>
        <td></td>
        <td>*LinkedIn link here*</td>
    </tr>
    <tr>
        <td><a href="https://github.com/sa-firestone">GitHub</a></td>
        <td></td>
        <td><a href="https://github.com/junelogan">GitHub</a></td>
    </tr>
</table>
</div>
<br>
<br>
