<!--Culinarian Image and Logan -->
<div class="col-sm-4">
    
    <%= image_tag('mainimage.png', class: "img-fluid") %>
    
</div>
<br>
<!--App Purpose  -->
<div>
    
   <br> 
    
<h3> Our Purpose </h3>
    <p>Something      </p>
</div>

<br>
<!-- About Us -->
<div>
<h3> Meet the Moblie App Developers </h3> 
     <p> Something Else     </p>
</div>

