<!-- About -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">"Start simple, stay simple."</h2><br />
        <h3 class="section-subheading text-muted">Culinarian was created and designed by two students of the Highway educational course of I/O Avenue in Tallahassee, Florida with the original mindset of providing a place on the web where older cooking recipes can be preserved in a digital form and shared for generations to come.<br />  
                <br />As we continue to work on this project, there are plenty of ideas out there that could be brought into it, however we also intend to stick to our philosophy of "smart simple, stay simple" to ensure that Culinarian will always provide ease of use first and foremost.<br />
                <br />Our goal in the long run is to further advance the aid that technology can bring to the kitchen through a simpler and more personable approach.</h3>
      </div>
    </div>
  </div>
</section>

<!-- Team -->
<section class="bg-dark text-white" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Meet the Team</h2>
        <h3 class="section-subheading text-muted">Two graduates of the Highway Program of I/O Avenue.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <%= image_tag('steven.jpg') %>
          <h4>Steven Firestone</h4>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://github.com/sa-firestone">
                Github
              </a>
            </li>|
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/steven-firestone/">
                LinkedIn
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <%= image_tag('June.jpg') %>
          <h4>June Logan</h4>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://github.com/junelogan">
                Github
              </a>
            </li>|
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/june-logan/">
                LinkedIn
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>