<h3>Find a Recipe!</h3>
<br>

<div class="search">
    <%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
        <%= submit_tag "Search", :name => nil %>
    <% end %>
</div><br><br>