// Global styling for this template
body {
  overflow-x: hidden;
}

p {
  line-height: 1.75;
}

a {
  &:hover {
  }
}

.text-primary {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

section {
  padding: 20px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
  }
}
@media(min-width:768px) {
  section {
    padding: 20px 0;
  }
}

// Button Styles
.btn {
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  &:active,
  &:focus,
  &:hover {
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5)
  }
}

// Highlight color customization
::-moz-selection {
  text-shadow: none;
}

::selection {
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
